* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    background-image: url(/img/img1.jpg);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: auto;

}

ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    font-weight: 100;
    padding: 3vw;
    text-decoration: none;
}

nav {
    width: 100%;
    min-width: 75%;
    height: 6vw;
    margin: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

nav a:hover {
    color: rgb(47, 0, 255);
}

img {
    max-width: 100% !important;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1em;
    margin: 15px auto;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 2px 0 15px 0;
}

span {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #000
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    text-align:center;

}

p+p {
    margin: 15px 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1100%;
    padding: 15px;
    background-image: url(/img/img1.jpg);
    box-shadow: 7px 15px 15px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

main {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.foto-social {
    flex: 1 1 100px;
}

section.texto {
    flex: 1 1 70%;
    align-items: center;

}

section.texto1 {
    flex: 1 1 100%;

}

section+section {
    margin-left: 15px;
}

.foto {
    width: 300px;
    height: 300px;
    margin: left;
    border-radius: 50%;
}

.foto img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}

ul.social {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.social li {
    flex: 1 1 35px;
    margin: 5px;
}

ul.social li a {
    text-align: center;
    display: block;
    padding: 5px;
    transition: all .5s ease-in-out;
}

ul.social li a:hover {
    opacity: .5;
}

.footer {
    align-items: center;
    padding-top: 100px;
    font-family: Tahoma;
    font-size: 8px;

}
